
.global-search
  display: flex
  position: relative

  &-input
    border: none
    min-width: 0
    width: 100%
    flex: 1

  &-spinner
    line-height: 0

  &-spinner, &-input
    background: white
    color: $grey-darker
    font-size: 18px
    padding: 15px 20px

  &-results
    background: $white-ter
    position: absolute
    top: 48px
    width: 100%

    a
      color: $grey-darker !important
      display: block
      padding: 7px 15px
      transition: background .2s ease

      &:hover
        background: white


