
.product
  display: block
  width: 100%
  height: 0
  padding-bottom: 100%
  background: $white-ter center center no-repeat
  background-size: cover
  cursor: pointer
  border: 3px solid transparent
  transition: .3s border ease

  &:hover
    border-color: $primary

  &-head, &-body
    padding: 10px
